{% macro comma_list(l, sep = ',') %}
{%     for x in l %}
	{{ x }}{{ sep if not loop.last else '' }}
{%     endfor %}
{% endmacro %}
{% macro bgp_config(cf) %}
{%     set fullname = cf.ver + '_' + cf.type + '_' + cf.name %}
{%     set fulltype = cf.ver + '_' + cf.type %}
{%     if cf.fixlist != [] %}
define pfx{{ fullname }} = [
{{ comma_list(cf.fixlist) -}}
];

{%     endif %}
function match{{ fullname }}() {
{%     if cf.fixlist != [] %}
	if net ~ pfx{{ fullname }} then return true;
{%     endif %}
{%     if cf.ver == '4' %}
	if net = 127.127.127.127/32 then return false;
{%     else %}
	if net = fdfd::fdfd/128 then return false;
{%     endif %}
{%     for x in cf.dynlist %}
	if net ~ 'pfx{{ cf.ver }}_dyn_{{ x }}' then return true;
{%     endfor %}
	return false;
}

filter from{{ fullname }} {
	if ! match{{ fullname }}() then reject;
	if ! common{{ fulltype }}() then reject;
	accept;
}

protocol bgp bgp{{ fullname }} from bgp{{ fulltype }} {
	local {{ cf.ip }};
	neighbor {{ cf.peer }} as {{ cf.asn }};
	ipv{{ cf.ver }} { import filter from{{ fullname }}; };
}

{% endmacro %}
{% macro parse_config(type, name, cf) %}
{%     set dynlist = cf.prefix | select('regex', '^AS') %}
{%     set fixlist = cf.prefix | reject('regex', '^AS') %}
# configuration for {{ type }} {{ name }}

{%     if cf.ip4 is defined %}
{{ bgp_config({ 'ver': '4', 'type': type, 'name': name,
                'ip': cf.ip4, 'peer': cf.peer4, 'asn': cf.asn,
                'fixlist': fixlist | reject('regex', ':'),
                'dynlist': dynlist }) -}}
{%     endif %}
{%     if cf.ip6 is defined %}
{{ bgp_config({ 'ver': '6', 'type': type, 'name': name,
                'ip': cf.ip6, 'peer': cf.peer6, 'asn': cf.asn,
                'fixlist': fixlist | select('regex', ':'),
                'dynlist': dynlist }) -}}
{%     endif %}
{% endmacro %}
include "filters.conf";

{% for name, cfg in clients.items() %}
{{ parse_config('client', name, cfg) -}}
{% endfor %}
{% for name, cfg in peers.items() %}
{{ parse_config('peer', name, cfg) -}}
{% endfor %}
