{% macro gen_list() %}
{%     set list = caller().split('\n')
       | select('regex', "'pfx[46]_dyn_AS([-_:0-9a-zA-Z]+)'")
       | map('regex_replace', ".*'(pfx([46])_dyn_(AS([-_:0-9a-zA-Z]+)))'.*", "\\2\t\\3\t'\\1'")
%}
{%     for v in list | sort | unique %}
{{ v }}
{%     endfor %}
{% endmacro %}
{% call gen_list() %}
{%     include 'bird-bgp.conf.j2' %}
{% endcall %}
